---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  // img_metadata: Record<string, () => Promise<{ default: ImageMetadata }>>;
  img_metadata: Record<string, any>;
}

const { img_metadata } = Astro.props;

const metadata: ImageMetadata[] = img_metadata.map(
  (file: Record<string, any>) => file.default,
);

const num_images = metadata.length;
const seconds_per_slide = 4;
const slideshow_duration = (seconds_per_slide * num_images).toString() + "s";
const perc_duration = 100.0 / num_images;
const half_second = 100.0 / (seconds_per_slide * num_images) / 2;
const start_animation = half_second.toString() + "%";
const full_opacity = perc_duration.toString() + "%";
const end_animation = (half_second + perc_duration).toString() + "%";

const keyframes = `
  @keyframes fadeslides {
      0% {
        opacity: 0;
      }
      ${start_animation} {
        opacity: 1;
      }
      ${full_opacity} {
        opacity: 1;
      }
      ${end_animation} {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  `;
---

<div class="slideshow" id="slideshow">
  {
    metadata.map((image: ImageMetadata, index: number) => (
      <a class="img-container" href="/illustration">
        <Image
          class="landing-img"
          src={image}
          alt=""
          widths={[240, 540, 720, image.width]}
          sizes={`(max-width: 360px) 360px, (max-width: 720px) 720px, (max-width: 1600px) 1200px, ${image.width}px`}
          style={`animation-delay: ${seconds_per_slide * index}s;`}
        />
      </a>
    ))
  }
</div>

<style set:html={keyframes}></style>

<style define:vars={{ slideshow_duration }}>
  .slideshow {
    background: black;
    position: relative;
    overflow: hidden;
    display: flex;
    /* align-items: flex-end; */
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
  }

  .landing-img {
    display: block;
    background: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    opacity: 0;
    transform: scale(1.1);
    animation: var(--slideshow_duration) fadeslides infinite linear;
  }
</style>
